/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var();
  }
  li a:hover {
    background-color: #7875B5;
  }
  nav{
    margin-top: 8px;
    height: 5px;
    background-color: var(#D4D3E8);
  }
  .nav-link{
    color: #7875B5;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: var(#4C489D);
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: var(--bacegruond-color);
  } */
  .button-size{
    height: 40px;
    width: 80px;
  }