<div class="card">
    <div class="card-body" >
        <small class="bg-liht text-danger text-center">  123  </small>
        <small class="bg-liht text-success text-center ml-3">  4789 </small>
        <small class="bg-liht text-info text-center ml-3"> Norah </small>
        <h5 class="mt-1"> Article title </h5>
        <p> Article Content article content article content article content article content article content article content article content article content article content </p>
        
        <small class="bg-liht  text-center ml-3"> 2024-08-11T08:43:28.77165 </small>
        <button>more details</button>
    </div>
</div>
