<!DOCTYPE html>
<html lang="en">
<head>
    <title>Article</title>
</head>
<body>
    <app-header></app-header>
    <h2>my paragraph title</h2>
    <p>my paragraph that i have maed i need to conecte it with my DB</p>

    <div class="card" >
        <div class="card-body">
            <small class="bg-liht text-danger text-center">  {{article.DisLikes}} </small>
            <small class="bg-liht text-success text-center ml-3">  {{article.Likes}} </small>
            <small class="bg-liht text-info text-center ml-3"> {{article.author}}  </small>
            <h5 class="mt-1"> {{article.title}} </h5>
            <p> {{article.body}} </p>
            
            <small class="bg-liht  text-center ml-3"> {{article.articledate}} </small>
        </div>
    </div>
    <app-comment-form></app-comment-form>
    <app-comment-list></app-comment-list>
</body>
</html>